:host {
  height: 100%;
}

main {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

#demo-grid, #input-div {
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
  padding: 20px;
}

#input-div {
  display: flex;
  flex-direction: column;
}

#new-el-form, #new-grid-form {
  display: flex;
  flex-direction: column;
}

#new-grid-form {
  margin-top: 30px;
}


input {
  text-decoration: none;
  padding: 10px;
}

button {
  background-color: white;
  margin-top: 30px;
  border: none;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #aaa;
}

#demo-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  flex: 1;
}

.grid-el {
  position: absolute;
  height: 100%;
  width: 100%;
}

.col-number-container, .row-number-container {
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.col-number-container {
  border-right: 1px solid rgba(0,0,0,0.25);
}

.row-number-container {
  border-bottom: 1px solid rgba(0,0,0,0.25);
}