<main>
  <div id="demo-grid-container">
    <!-- Zeilennummern anzeigen: -->
    <div *ngFor="let item of getRowNumbers()" class="row-number-container grid-el" [ngStyle]="{
      'left': 0,
      'width': (100 / (Grid.getWidth() + 1)) + '%',
      'top': ((100 / (Grid.getHeight() + 1)) * (item + 1)) + '%', 
      'height': (100 / (Grid.getHeight() + 1)) + '%'
      }">
      <div class="row-number">{{ item + 1 }}</div>
    </div>

    <!-- Spaltennummern anzeigen: -->
    <div *ngFor="let item of getColNumbers()" class="col-number-container grid-el" [ngStyle]="{
      'left': ((100 / (Grid.getWidth() + 1)) * (item + 1)) + '%',
      'width': (100 / (Grid.getWidth() + 1)) + '%',
      'top': 0, 
      'height': (100 / (Grid.getHeight() + 1)) + '%'
      }">
      <div class="col-number">{{ item + 1 }}</div>
    </div>

    <!-- Grid-Elemente anzeigen: -->
    <div *ngFor="let item of GridElements" class="grid-el" [ngStyle]="{ 
      'left': (((100 / (Grid.getWidth() + 1)) * (item.X + 1))) + '%',
      'width': ((100 / (Grid.getWidth() + 1)) * item.Width) + '%',
      'top': ((100 / (Grid.getHeight() + 1)) * (item.Y + 1)) + '%', 
      'height': ((100 / (Grid.getHeight() + 1)) * item.Height) + '%',
      'background-color': ElementColors.get(item)
      }"></div>
  </div>
  <div id="input-div">
    <div id="new-el-form">
      <h2>Neues Element</h2>
      <label>Höhe:<br> <input #elHeight formControlName="newElHeight" type="number"></label>
      <label>Breite:<br> <input #elWidth formControlName="newElWidth" type="number"></label>
      <button (click)="onClickAddElement(elHeight.value, elWidth.value)">Hinzufügen</button>
    </div>
    <div id="new-grid-form">
      <h3>Grid neu erstellen</h3>
      <label>Höhe:<br> <input #gridHeight type="number"></label>
      <label>Breite:<br> <input #gridWidth type="number"></label>
      <button (click)="onClickCreateGrid(gridHeight.value, gridWidth.value)">Erstellen</button>
    </div>
  </div>
</main>