/* globale Styles */
*, ::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Segoe UI', Verdana, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}